<h1>Update Pet</h1>


<form action="/pets/<%=@pet.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <br>
    <label>name:</label>
      <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
    <br>

    <label>Owner name:</label>
   <%@owners.each do |owner|%>
        <input type="checkbox" name="pet[owner_id]" id="<%=owner.id%>" <%='checked' if owner.pets.include?(@pet) %>><%=owner.name%>
    <%end%>
    <input type="text" name="pet[owner][name]" id="owner[name]">(or a new owner)
    <br>


    <input type="submit" name="submit" value="Update Pet">
</form>
